/* Variáveis de Cores e Fontes */
:root {
    --color-black: #000000;
    --color-gold: #FFD700;
    --color-white: #FFFFFF;
    --font-primary: 'Bebas Neue', sans-serif;
    --font-text: 'Poppins', sans-serif;
}

/* Estilos da Página de Login */
.login-page {
    font-family: var(--font-text);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/Banner-libra.png') no-repeat center center/cover;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px; 
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-logo {
    height: 60px;
    margin-bottom: 30px;
}

.login-container h2 {
    font-family: var(--font-primary);
    font-size: 2.5rem;
    margin-bottom: 30px;
}
/* Estilo para os campos de input */
.form-group input {
    width: 100%;
    padding: 15px;
    background-color: #1a1a1a; /* Fundo preto bem escuro */
    border: 1px solid #333; /* Borda sutil */
    border-radius: 10px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto branco para melhor leitura */
    font-size: 16px;
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
    transition: all 0.3s ease;
}

/* Estilo para o campo de input quando está focado */
.form-group input:focus {
    outline: none; /* Remove a borda de foco padrão do navegador */
    border-color: #ffd700; /* Dourado da sua logo */
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.6); /* Efeito de brilho */
}

/* Estilo para o botão de login */
.btn-login {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    background-color: var(--color-gold);
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
}
/* imagem*/
.login-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;

}.login-logo-link img {
    height: 120px;
    margin-bottom: 0;
}
.login-links a {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s ease;
}

.login-links a:hover {
    color: var(--color-gold);
}
/* Estilo geral do formulário */
#login-form {
    width: 100%;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 480px) {
    .login-container {
        padding: 30px;
    }
}